.myConfirmation {
  font-weight: bold;
  text-decoration: underline;
}
.myTotal {
  font-weight: bold;
}
.sapMText.myTotalmix {
    font-weight: bold;	
}
.myDebitorMissing[data-missing=true] h1 span{
	color: #ff0000;
}
li.myDebitorMissingList.sapMLIB.sapMLIBSelected[data-missing=true]{
	background-color:  #f88686
}
li.myDebitorMissingList.sapMLIB[data-missing=true]{
	background-color: #ffcccc;
}
.myDebitorMissingBox.sapMOH.sapMOHBgTransparent[data-missing=true]{
	background-color: #ffcccc;
}

tr[data-background=true].myBackgroundLoevm {
  background-color: #ffcccc;
}
tr.myBackground td{
  background-color: LightSkyBlue ;
}
/*li.myBackground2 sapMListBGTranslucent sapMLIB{
  background-color: red;
}*/
.sapMListBGTranslucent .myBackground2{
  background-color: LightSkyBlue ;

}
tr.myBorderRedFat td{
	border-color: red;
    border-width: 2px;
}
tr.myBorderBlackFat td{
	border-color: black;
    border-width: 2px;
}
canvas.jSignature{
  width: 340px !important; 
  height: 84px !important;
}
#signatureparent {
  color:darkblue;

  padding: 2px;
  width: 344px; 
  height: 90px;
}

#signature {

  padding: 0 0 0 0; 
  margin: 0 0 0 0;
  border: 2px dotted black;
}